body
{
	margin: 0;
	color: #000;
	background-color: #f9f9f9;
	font-family: sans-serif;
	word-break: break-all;
	-webkit-text-size-adjust: 100%;
}
body * {
	box-sizing: border-box;
}
/* wrapper */
#wrapper
{
	width: 980px;
	padding: 10px 20px;
	margin: 0 auto;
	color: #000;
	background-color: #fff;
}
.inner-wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0 20px;
}

footer
{
	clear: both;
	padding: 30px 0;
	margin: 0 auto;
}

footer p
{
	float: left;
}

#foot-image
{
	float: right;
}

/* utilities */

#utilities
{
	text-align: right;
	width: 50%;
	float: right;
}

#utilities form
{
	display: inline-block;
}

/* menu */
#global-nav {
	position: relative;
	float: right;
}
#bttn-nav {
	float: right;
	-webkit-appearance: none;
	border-radius: 0;
	border: none;
	background-color: #E83828;
	background-image: url( ../images/icon_menu.svg );
	background-repeat: no-repeat;
	background-position: 29px center;
	color: #fff;
	font-size: 1em;
	padding: 15px;
	padding-left: 70px;
}
#bttn-nav:hover,
#bttn-nav[aria-expanded=true],
#bttn-nav.on {
	background-color: #FDD6D6;
	color: #E83828;
	background-image: url( ../images/icon_menu_open.svg );
}
#wrapper-menu {
	position: relative;
	clear: right;
}
#main-menu {
	position: absolute;
	right: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	border-top: 3px solid #E83828;
}
#main-menu li {
	display: block;
	border-bottom: 1px solid #CCCCCC;
	background-color: #fff;
}
#main-menu a {
	position: relative;
	display: block;
	width: 100%;
	padding: 13px;
	padding-left: 38px;
	color: inherit;
	text-decoration: none;
	transition: .3s;
}
#main-menu a:hover {
	opacity: .6;
}
#main-menu a::before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	border: 2px solid rgba(0, 0, 0, .4);
	border-left-width: 0;
	border-bottom-width: 0;
	position: absolute;
	left: 12px;
	top: 50%;
	transform: rotate(45deg) translateY(-70%);
}

/* toppage */
#toppage-image {
	height: 520px;
	height: 200px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}

#toppage-bottom
{
	background-color: #fff0ef;
	margin: 0 -20px;
	padding: 40px 0;
}
#toppage-bottom-inner {
	display: flex;
	justify-content: space-between;
}
#toppage-bottom section
{
	background-color: #fff;
	width: calc( 50% - 20px );
	margin: 20px 0;
	padding: 10px 20px;
}

#toppage-top,
#toppage-bottom-inner
{
	margin: 0 auto;
}

#toppage-bottom section#co2aday-area #co2aday-button-area a
{
	float: right;
}

#toppage-bottom section#co2aday-area img
{
	display: block;
	margin: 10px auto;
}

#toppage-bottom section#contact-us-area form
{
	background-color: #f3f3f3;
	padding: 25px;
}

#toppage-bottom section#contact-us-area form input[type=text],
#toppage-bottom section#contact-us-area form textarea
{
	font-size: 1em;
	width: 100%;
	height: 2.5rem;
	padding: 10px;
	border: 1px #aaa solid;
}

#toppage-bottom section#contact-us-area form textarea
{
	height: 8rem;
}

#toppage-bottom section#contact-us-area form input[type=submit]
{
	display: block;
	padding: 14px 35px;
	margin: 0 auto;
	line-height: 1;
	font-size: 1em;
	color: #fff;
	background-color: #e83828;
	border-radius: 5px;
	border: none;
}


#toppage-bottom h2
{
	padding: 0 0 12px;
	margin-bottom: 30px;
	font-size: 1.2em;
	border-bottom: 1px #ccc solid;
}

/* your-effort-table */

#your-effort-table
{
	font-size: 150%;
	background-color: #e83828;
	color: #fff;
	border-spacing: 20px;
	margin: 50px auto;
}

#your-effort-table td img
{
	display: block;
}

#your-effort-table.alt-out td
{
	color: #000;
	background-color: #fff;
	padding: 15px;
	font-size: 70%;
	font-weight: bold;
}

#your-effort-table.alt-out td img
{
	margin: 0 0 10px 0;
}

/* your-effort */

#your-effort h2
{
	padding: 15px 0;
	margin: 0;
}

#your-effort
{
	text-align: center;
	font-size: 90%;
	background-color: #e83828;
	color: #fff;
	padding: 0 0 20px;
	margin: 0 0 50px;
}

#your-effort ul
{
	margin: 0;
	padding: 0;
}

#your-effort li
{
	text-align: left;
	font-size: 100%;
	font-weight: bold;
	list-style: none;
	background-color: #fff;
	color: #111;
	display: inline-block;
	padding: 15px;
	margin: 0 2px;
}

#your-effort li img
{
	margin-bottom: 5px;
	display: block;
}

/* heading */

h1
{
	font-size: 100%;
}

h1 img
{
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
}

/* CO2 a day */

#co2aday-wrapper
{
	background-color: #f3f3f3;
	padding: 30px 40px;
}

.unit
{
	display: inline-block;
	font-weight: bold;
	font-size: 150%;
	color: #df201e;
	margin: 5px;
}

#co2aday
{
	text-align: right;
	display: inline-block;
	width: calc(100% - 3em);
	font-weight: bold;
	margin-right: 10px;
	font-size: 200%;
	padding: 20px;
}

#co2aday-button
{
	display: inline-block;
	color: #fff;
	background-color: #4d4d4d;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
}

/* visually hidden */

.visually-hidden
{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* clearfix */

.clearfix::after
{
	content: "";
	display: block;
	clear: both;
	height: 0;
}

@media all and ( min-width: 996px ) {
	#outer-wrapper {
		overflow: hidden;
	}
	.full-width
	{
		width: 100vw;
		margin : 0 calc(50% - 50vw) !important;
	}
}
