body
{
	margin: 0;
	color: #000;
	background-color: #fff;
	font-family: sans-serif;
	word-break: break-all;
	-webkit-text-size-adjust: 100%;
	line-height: 1.75;
}
body * {
	box-sizing: border-box;
}
/* font */
.lato,
#co2aday-wrapper {
	font-family: 'Lato', sans-serif;
}

img,
iframe,
figure {
	max-width: 100%;
}
img {
	height: auto;
}

strong, em {
	color: #E83828;
	font-style: normal;
}
/* parts */

/* wrapper */
#wrapper
{
	width: 1000px;
	padding: 10px 20px 0;
	margin: 0 auto;
	color: #000;
	background-color: #fff;
}
.full-width .inner-wrapper {
	width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

#site-footer
{
	clear: both;
	padding: 25px 0;
	margin: 0 auto;
	border-top: 1px solid #ccc;
}
body:not(.toppage) #site-footer {
	margin-top: 100px;
}
#site-footer .col {
	display: flex;
	justify-content: space-between;
}
#site-footer .col > *:first-child {
	flex: 1;
}
#foot-image
{
	vertical-align: bottom;
}

/* utilities */
#utilities
{
	text-align: right;
	width: 50%;
	float: right;
}
#utilities > * {
	vertical-align: middle;
}
#utilities a {
	position: relative;
	display: inline-block;
	font-size: .8125em;
	font-weight: 600;
	color: inherit;
	border: none;
	transition: opacity .3s;
	text-decoration: none;
	padding-left: 20px;
	margin-right: 12px;
}
#utilities a:hover {
	opacity: .5;
}
#utilities a::before {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	border: 3px solid #999;
	border-left-width: 0;
	border-bottom-width: 0;
	position: absolute;
	left: -5px;
	top: 50%;
	transform: rotate(45deg) translateY(-100%);
}
#utilities form
{
	display: inline-block;
}

/* logo */
#logo {
	font-size: 1.25rem;
	font-weight: 600;
	margin: 16px auto 0 0;
}
#logo * {
	vertical-align: middle;
}
#logo img {
	margin-right: 8px;
}
#logo a {
	text-decoration: none;
	color: inherit;
	transition: opacity .3s;
}
#logo a:hover {
	opacity: .7;
}
/* menu */
#menu {
	clear: both;
	float: right;
	display: flex;
}
#global-nav {
	position: relative;
}
#bttn-nav {
	background-color: #E83828;
	background-image: url( ../images/icon_menu.svg );
	background-position: 29px center;
	padding-left: 70px;
	border-radius: 0;
}
#bttn-nav:hover,
#bttn-nav[aria-expanded=true],
#bttn-nav.on {
	background-color: #FDD6D6;
	color: #E83828;
	background-image: url( ../images/icon_menu_open.svg );
}
#bttn-lang {
	float: right;
	border-radius: 0;
}
#bttn-lang:hover,
#bttn-lang[aria-expanded=true],
#bttn-lang.on {
	background-color: #000;
}
#bttn-lang .fa {
	display: block;
	margin: auto 2px;
	font-size: 1.5rem;
}

.wrapper-menu {
	position: relative;
	z-index: 10000;
	clear: right;
}
.menu-list {
	position: absolute;
	right: 0;
	width: 250px;
	margin: 0;
	padding: 0 !important;
	border-top: 3px solid #E83828;
	z-index: 100000;
}
.menu-list li {
	display: block;
	border-bottom: 1px solid #CCCCCC;
	background-color: #fff;
}
.menu-list a {
	position: relative;
	display: block;
	width: 100%;
	padding: 13px;
	padding-left: 38px;
	color: inherit;
	text-decoration: none;
	transition: background-color .3s;
}
.menu-list a::before {
	content: '';
	display: block;
	width: 7px;
	height: 7px;
	border: 2px solid rgba(0, 0, 0, .4);
	border-left-width: 0;
	border-bottom-width: 0;
	position: absolute;
	left: 12px;
	top: 50%;
	transform: rotate(45deg) translateY(-70%);
}
.menu-list a:hover,
.menu-list a:focus {
	background-color: #FEF2F1;
}
.menu-list a:hover::before,
.menu-list a:focus::before {
	border-color: #E83828;
}
.menu-list#lang-menu {
	border-top: 3px solid #000;
	width: 150px;
}
.menu-list#lang-menu a:hover,
.menu-list#lang-menu a:focus {
	background-color: #f3f3f3;
}
.menu-list#lang-menu a:hover::before,
.menu-list#lang-menu a:focus::before {
	border-color: #000;
}

/* main */
#main {
	clear: both;
}
/* heading */
h1, h2, h3, h4, h5, h6,
.heading {
	line-height: 1.5;
}
#page-header {
	padding: 66px 0;
	text-align: center;
	color: #fff;
	font-size: 2.5rem;
	background-color: #4CC2EE;
	background-image: url(../images/bg_pageheader.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-font-smoothing: antialiased;
	line-height: 1.2;
}
#page-header .heading {
	margin: 0 auto;
	font-size: 1em;
}
body:not(.toppage) h2,
body:not(.toppage) .h2 {
	margin: 50px auto 24px;
	padding: 10px 20px 10px 30px;
	color: #fff;
	background-color: #E83828;
	font-weight: 600;
	font-size: 1.25rem;
}

/* list */
ul {
	list-style: none;
	padding-left: 0;
}
ul > li {
	position: relative;
	padding-left: 18px;
}
ul > li + li {
	margin-top: .375em;
}
ul > li::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border: 4px solid #E83828;
	border-radius: 4px;
	position: absolute;
	left: 0;
	top: calc( .875em - 4px );
}
ul ul > li::before {
	border-color: #ccc;
}
ul ul ul > li::before {
	border-radius: 0;
	border-width: 2px 4px;
	top: calc( .875em - 1px );
}
header ul,
footer ul,
.menu-list {
	list-style: disc;
	list-style: unset;
	padding-left: 40px;
}
header ul > li,
footer ul > li,
.menu-list > li {
	position: static;
	padding-left: 0;
	margin-top: 0;
}
header ul > li::before,
.menu-list > li::before {
	content: none;
}
ul.nomarker > li {
	padding-left: 0;
}
ul.nomarker > li::before {
	content: none;
}
ol {
	padding-left: 2em;
}
/* table */
table caption {
	font-weight: bold;
	text-align: left;
	margin-bottom: .25em;
}
.table
{
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	border-bottom: 1px solid #ccc ;
}
.table th,
.table td,
.table .header {
	padding: 8px 13px;
	border-top: 1px solid #ccc;
	text-align: left;
}
.table thead th,
.table thead td,
.table thead .header {
	background: #F0F0F0;
}
.table th,
.table .header
{
	background: #FEF2F1;
	font-weight: bold;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}
.table.auto {
	width: auto;
}
.table.stripe tr:nth-child(even),
.table.even tr:nth-child(even),
.table.odd tr:nth-child(odd)
{
	background: #fafafa;
}
.table.stripe tr:nth-child(odd),
.table.even tr:nth-child(odd),
.table.odd tr:nth-child(even)
{
	background: #fff;
}


/* form */
input[type=text],
textarea {
	-webkit-appearance: none;
	padding: 2px 5px 2px 8px;
	font-size: 1em;
	border: 1px solid #ccc;
	vertical-align: middle;
	max-width: 100%;
}
button,
[type=submit],
[type=button],
.bttn {
	-webkit-appearance: none;
	padding: 12px 35px 11px;
	font-size: 1.125em;
	line-height: 1.5;
	margin: 0 auto;
	border-radius: 5px;
	border: none;
}
input[type=submit],
button:not([type=button]) {
	display: block;
	min-width: 127px;
	margin: 23px auto 0;
	color: #fff;
	background-color: #EA1905;
}
.bttn {
	-webkit-appearance: none;
	border-radius: 5px;
	border: none;
	background-repeat: no-repeat;
	color: #fff;
	background-color: #575757;
	font-size: 1em;
	padding: 15px;
}
#utilities #search,
#utilities [type=submit] {
	display: inline-block;
	color: #fff;
	background-color: #000;
	border: none;
	border-radius: 0;
	margin-top: 0;
	margin-left: 1px;
	padding: 4px 4px 4px;
	min-width: 24px;
	text-align: center;
	font-size: .875rem;
	line-height: 1.2;
}

form em,
form strong {
	color: #de1300;
}

/* toppage */
#toppage-image {
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFF;
	overflow: hidden;
}
#toppage-image .main-image {
	height: 100%;
	width: 1366px;
	object-fit: cover;
}
/* -- #main-slide */
#main-slide {
	position: relative;
	display: block;
}
#slide-utilities {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	width: 1366px;
	max-width: 100%;
	margin: 0 auto;
}
#slide-utilities .bttn {
	position: absolute;
	display: block;
	transition: opacity .3s;
	color: #fff;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1000;
}
#slide-utilities .slide-ctrl {
	width: 46px;
	height: 46px;
	padding: 6px;
	border-radius: 50%;
	top: calc( 50% - 23px );
}
#slide-utilities .bttn:hover {
	opacity: .7;
}
.slide-ctrl#slide-prev {
	left: 2.928%
}
.slide-ctrl#slide-next {
	right: 2.928%
}
#slide-utilities .slide-ctrl::before {
	content: '';
	display: block;
	width: 9.5px;
	height: 9.5px;
	border: 3px solid #fff;
	border-right-width: 0;
	border-top-width: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.slide-ctrl#slide-prev::before {
	transform: rotate(45deg);
	margin-left: 12px;
}
.slide-ctrl#slide-next::before {
	transform: rotate(225deg);
	margin-right: 12px;
}
#slide-play {
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 15px;
	right: calc( 2.928% + 5px );
	bottom: 35px;
	padding: 0;
}
#slide-play.bttn-pause .visually-hidden.play,
#slide-play.bttn-play .visually-hidden.pause {
	display: none;
}
#slide-wrapper {
	position: relative;
	display: flex;
	max-width: 4098px;
	margin: 0 auto;
	justify-content: center;
	align-items: stretch;
}
#slide-wrapper .main-image {
	flex-shrink: 0;
}
#slide-wrapper:not(.on) .main-image:last-child {
	order: -1;
}
#slide-wrapper.on .main-image:last-child:nth-child(2n) {
	display: none;
}

/* -- message */
#toppage-message {
	position: relative;
	z-index: 0;
	display: flex;
	align-items: flex-end;
	margin-top: -111px;
}
#toppage-message > .image {
}
#toppage-message > .text {
	position: relative;
	flex: 1;
	background-color: #F0F0F0;
	border-radius: 50px;
	margin: 0 15px 12px;
	padding: 7px calc( 1em + 24px ) 7px 20px;
	overflow: hidden;
}
#toppage-message .inner-text {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
}
/* -- news */
#toppage-news {
	display: flex;
	margin: 40px auto;
	border: solid #ccc;
	border-width: 1px 0;
}
#toppage-news > * {
	display: flex;
	margin: 0;
	padding: 20px 5px;
	min-height: 100px;
	align-items: center;
}
#toppage-news > .heading {
	width: 7em;
	justify-content: center;
	background-color: #fff0ef;
	font-size: 1.0625rem;
}
#toppage-news .news-list {
	margin: 0 0 0 8px;
}
#toppage-bottom
{
	background-color: #fff0ef;
	padding: 40px 0;
}
#toppage-bottom-inner {
	display: flex;
	justify-content: space-between;
}
#toppage-bottom section
{
	background-color: #fff;
	width: calc( 50% - 20px );
	margin: 20px 0;
	padding: 10px 20px;
}

#toppage-top,
#toppage-bottom-inner
{
	margin: 0 auto;
}

#toppage-bottom section#contact-us-area form
{
	background-color: #f3f3f3;
	padding: 25px;
}

#toppage-bottom section#contact-us-area form input[type=text],
#toppage-bottom section#contact-us-area form textarea
{
	width: 100%;
	height: 2.5rem;
	padding: 10px;
}

#toppage-bottom section#contact-us-area form textarea
{
	height: 8rem;
}

#toppage-bottom h2
{
	padding: 0 0 12px;
	margin-bottom: 30px;
	font-size: 1.2em;
	border-bottom: 1px #ccc solid;
}

/* your-effort-table */

#your-effort-table
{
	width: 100%;
	font-size: 150%;
	background-color: #e83828;
	color: #fff;
	border-spacing: 20px;
	margin: 50px auto;
	border: 10px solid transparent;
	border-top: none;
	table-layout: fixed;
}

#your-effort-table td img
{
	display: block;
}

#your-effort-table.alt-out td
{
	color: #000;
	background-color: #fff;
	padding: 15px;
	font-size: 70%;
	font-weight: bold;
}

#your-effort-table.alt-out td img
{
	margin: 0 0 10px 0;
}

/* your-effort */

#your-effort h2
{
	padding: 15px 0;
	margin: 0;
}

#your-effort
{
	text-align: center;
	font-size: 90%;
	background-color: #e83828;
	color: #fff;
	padding: 0 0 20px;
	margin: 0 0 50px;
}

#your-effort ul
{
	margin: 0;
	padding: 0;
}

#your-effort li
{
	text-align: left;
	font-size: 100%;
	font-weight: bold;
	list-style: none;
	background-color: #fff;
	color: #111;
	display: inline-block;
	padding: 15px;
	margin: 0 2px;
}
#your-effort li::before
{
	content: none;
}
#your-effort li img
{
	margin-bottom: 5px;
	display: block;
}

/* CO2 a day */
#co2aday-area {
	position: relative;
}
#co2aday-wrapper
{
	background-color: #f3f3f3;
	padding: 30px 40px;
	display: flex;
	align-items: baseline;
/*	font-family: Verdana; */
	font-weight: 600;
}
#co2aday
{
	flex: 1;
	font-size: 2.8125rem;
	text-align: right;
	margin-right: 20px;
	padding: 13px 17px;
}
#co2aday-wrapper .unit
{
	display: inline-block;
	font-size: 1.875rem;
	color: #df201e;
	margin: 0;
}
#toppage-bottom section#co2aday-area #co2aday-button-area a
{
	float: right;
}
#co2aday-button
{
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	background-color: #4d4d4d;
	padding: 5px;
	margin: 10px 0;
	border-radius: 5px;
}
#co2aday-button > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY( -50% ) translateX( -50% );
	font-size: .875rem;
}
#co2aday-area .komaru {
	float: right;
	margin: auto 15px auto 0;
}

/* resister */
#form-registration {
	margin-top: calc( 1.5rem + 20px + 30px );
	padding: 12px 40px 32px;
	position: relative;
	border-top: 2px solid #EA1905;
	background-color: #F5F5F5;
}
#select-registration-type {
	border: none;
	padding: 0;
	position: absolute;
	top:  calc( -1.75rem - 22px );
	left: 0;
	margin: 0;
}
#select-registration-type input {
	position: absolute;
	top: calc( 50% - .65em );
	margin-left: 12px;
}
#select-registration-type label {
	display: block;
	float: left;
	min-width: 150px;
	padding: 10px 15px;
	padding-left: calc( 20px + .8em );
}
#select-registration-type :checked + label {
	color: #fff;
	background-color: #EA1905;
}
#select-registration-type :not(:checked) + label:hover {
	background-color: #FDD6D6;
}
#form-registration [type=submit] {
	margin-left: 0;
}
#form-registration #renew-area {
	display: none;
}

/* visually hidden */

.visually-hidden
{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* clearfix */

.clearfix::after
{
	content: "";
	display: block;
	clear: both;
	height: 0;
}

@media all and ( min-width: 1001px ) {
	#outer-wrapper {
		overflow: hidden;
	}
	.full-width {
		width: 100vw;
		margin : 0 calc(50% - 50vw) !important;
	}
}
@media all and ( max-width: 1000px ) {
	.full-width {
		width: 1000px;
		margin: 0 -20px;
		left: 0;
		transform: none;
	}
	.innner_wrapper {
		width: 100%;
	}
}
